@font-face {
  font-family: $font-inter-rainbows;
  src: url('/fonts/Internal Rainbows.otf');
  font-weight: $fw-normal;
}

@font-face {
  font-family: $font-digital;
  src: url("/fonts/digital-7.ttf");
  font-weight: $fw-normal;
}

@font-face {
  font-family: $font-courier;
  src: url("/fonts/cour.ttf");
  font-weight: $fw-normal;
}

@font-face {
  font-family: $font-armata;
  src: url("/fonts/Armata-Regular.ttf");
  font-weight: $fw-normal;
}

@font-face {
  font-family: $font-gilroy;
  src: url("/fonts/Gilroy-Light.otf");
  font-weight: $fw-normal;
}

@font-face {
  font-family: $font-gilroy;
  src: url("/fonts/Gilroy-ExtraBold.otf");
  font-weight: $fw-bold;
}

@font-face {
  font-family: $font-gilroy;
  src: url("/fonts/Gilroy-ExtraBold.otf");
  font-weight: $fw-black;
}