// Text align
.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text--uppercase {
  text-transform: uppercase;
}

// Font weight
.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semiBold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

// text-color
.text-success {
  color: $color-success;
}
