$--font-path: '~element-ui/lib/theme-chalk/fonts';

// COLORS

$color-grey-dark: #111111;
$color-grey-dusty: #999999;
$color-mercury: #E5E5E5;
$color-mercury-2: #E6E6E6;
$color-mercury-3: #E7E7E7;
$color-royal-blue: #4F2DEA;
$color-sliver-chalice: #9E9E9E;
$color-alaba: #FAFAFA;
$color-success: #5FC227;
$color-red: #fc1818;

$color-white: #ffffff;
$color-black: #000000;
$color-transparent: transparent;

// FONT-FAMILY
$font-inter: "Inter", sans-serif;
$font-inter-rainbows: "Internal Rainbows";
$font-digital: "Digital";
$font-courier: "Courier";
$font-armata: "Armata";
$font-gilroy: "Gilroy";

// FONT-SIZE
$f1: 60px;
$f2: 48px;
$f3: 36px;
$f4: 32px;
$f5: 24px;
$f6: 20px;
$f7: 16px;
$f8: 14px;
$f9: 13px;
$f10: 12px;
$f11: 10px;
$f12: 8px;
$f13: 7px;

// FONT-WEIGHT
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-black: 900;
